GPUtil
GitPython
Sentence-Transformers
absl-py
aenum
atlassian-python-api
beautifulsoup4
blist
clang
configparser
cryptography
cudatoolkit
cudnn
dataclasses
dill
future
git
gnupg
graphviz
ipython
libclang
matplotlib
numpy
pandas
pathlib
perfmon
prg
psutil
pycallgraph2
pycryptodome
pydot
pygithub
pyinstaller
pylatex
pyparsing
pysimplegui
python-gnupg
pytorch
regex
requests
rich
scikit-learn
scipy
seaborn
setuptools
sphinx-autodoc-typehints
sphinx_rtd_theme
statsmodels
tensorboard
tensorflow
tensorflow-base
tqdm
traceback2
transitions
unidecode
urllib3
wget
wgetter
xlrd
