tensorboard
clang
beautifulsoup4
wget
pytorch
rich
cryptography
pylatex
blist
Sentence-Transformers
python-gnupg
setuptools
numpy
seaborn
matplotlib
scipy
xlrd
psutil
pandas
scikit-learn
wgetter
future
statsmodels
pysimplegui
GPUtil
configparser
requests
urllib3
tqdm
regex
dataclasses
gnupg
pygithub
unidecode
GitPython
atlassian-python-api
pycryptodome
graphviz
perfmon
regex
aenum
traceback2
dill
pydot
sphinx-autodoc-typehints
sphinx_rtd_theme
transitions
absl-py
prg
pyinstaller
pycallgraph2
tensorflow
pyparsing
pathlib
git
cudatoolkit
cudnn
tensorflow-base
ipython